package ${package.Controller}.validator;
import com.zwx.boot.exception.ExceptionEnumeration;
import com.zwx.boot.exception.common.RestPreconditionFailedException;
import org.springframework.stereotype.Component;
import ${package.Entity}.body.${entity}CreateRequestBody;


/**
* <p>
    * $!{table.comment} 验证器
    * </p>
*
* @author ${author}
* @since ${date}
*/
@Component
public class ${entity}Validator {



public void validate${entity}CreateRequestBody( ${entity}CreateRequestBody body){
if (body==null){
throw new RestPreconditionFailedException(ExceptionEnumeration.DEMO_CREATE_BODY_NULL,
"null dto.");
}
}


}
