<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cici.mapper.UserWalletMapper">


    <update id="updateBalance">
     update user_wallet
        set amount = amount - #{amount},
          update_date = #{currentTime},
          version = version + 1
        where id = #{walletId}

    </update>
    <select id="excute">

        select * from user_wallet where a= 3
    </select>
</mapper>